# Ignore node_modules, as they will be installed inside the container
node_modules

# Ignore local environment files
.env

# Ignore logs
logs/

# Ignore the MongoDB data directory that is causing the permission error
Config/mongodb/db_data
